<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-container1">
      <img
        alt="image"
        src="public/playground_assets/immersivelearing.svg"
        class="component1-image"
      />
      <div class="component1-container2">
        <span class="component1-text"><span>Immersive Learning</span></span>
        <ul class="list component1-ul">
          <li class="list-item"><span>On Demand Learning video</span></li>
          <li class="list-item"><span>Huided hands-on exercise</span></li>
          <li class="list-item">
            <span>Auto-graded assessments ,recall quizzes</span>
          </li>
          <li class="list-item">
            <span>Capstone porjects and assignments</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
