<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <span class="component-text"><span>Full Stack Development</span></span>
    <img
      alt="image"
      src="public/playground_assets/course.svg"
      class="component-image"
    />
    <div class="component-container1">
      <span class="component-text1"><span>Course duration 4 months</span></span>
      <span class="component-text2"><span>Full Stack Development</span></span>
    </div>
    <span class="component-text3"><span>Languages % Tools Covered</span></span>
    <img
      alt="image"
      src="public/playground_assets/capture-400h.png"
      class="component-image1"
    />
    <span class="component-text4">
      <span>Average payscale 10lpa-15lpa</span>
    </span>
    <span class="component-text5">
      <span>Top companies looking for full stack</span>
    </span>
    <span class="component-button"><span>Apply Now</span></span>
    <span class="component-button1"><span>Download Brochure</span></span>
  </div>
</div>
