<div>
  <link href="./courses.css" rel="stylesheet" />
  <div class="courses-container">
    <div class="courses-container1">
      <h1 class="courses-heading"><span>Full Stack Development</span></h1>
      <div class="courses-container2">
        <img
          alt="image"
          src="public/playground_assets/learnbydoin.svg"
          class="courses-image"
        />
      </div>
      <div class="courses-container3">
        <span class="courses-text"><span>Course Duration 4 Months</span></span>
        <span class="courses-text01">
          <span>Internship Duration 4 Months</span>
        </span>
      </div>
      <span class="courses-text02">
        <span>Languages and Tools Covered</span>
      </span>
      <div class="courses-container4">
        <img
          alt="image"
          src="public/playground_assets/asset%2026li.svg"
          class="courses-image01"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2027li.svg"
          class="courses-image02"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2028li.svg"
          class="courses-image03"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2029li.svg"
          class="courses-image04"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2030li.svg"
          class="courses-image05"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2031li.svg"
          class="courses-image06"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2032li.svg"
          class="courses-image07"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2033li.svg"
          class="courses-image08"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2034li.svg"
          class="courses-image09"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2035li.svg"
          class="courses-image10"
        />
        <img
          alt="image"
          src="public/playground_assets/asset%2036li.svg"
          class="courses-image11"
        />
      </div>
      <span class="courses-text03">
        <span>Top companies looking for full stack developer</span>
      </span>
      <div class="courses-container5">
        <div class="courses-container6">
          <img
            alt="image"
            src="public/playground_assets/asset%2023ci.svg"
            class="courses-image12"
          />
          <img
            alt="image"
            src="public/playground_assets/asset%2021ci.svg"
            class="courses-image13"
          />
          <img
            alt="image"
            src="public/playground_assets/asset%2022ci.svg"
            class="courses-image14"
          />
        </div>
      </div>
      <span class="courses-text04">
        <span>Job Roles for full stack developer</span>
      </span>
      <ul class="courses-ul list">
        <li class="courses-li list-item"><span>FrontEnd Developer</span></li>
        <li class="courses-li1 list-item"><span>Backend Developer</span></li>
        <li class="courses-li2 list-item"><span>Database Admin</span></li>
        <li class="courses-li3 list-item"><span>Sql developer</span></li>
      </ul>
      <span class="courses-text09">
        <span>Avg Pay scale - 10Lpa to 15Lpa</span>
      </span>
      <button class="courses-button button"><span>Apply Now</span></button>
      <button class="courses-button1 button">
        <span>Download Broucher</span>
      </button>
    </div>
  </div>
</div>
