<div>
  <link href="./criteria.css" rel="stylesheet" />
  <div class="criteria-container">
    <div class="criteria-pricing">
      <div class="criteria-container1">
        <div class="criteria-pricing-card">
          <span class="criteria-text">Army engg(Only ssb)</span>
          <div class="criteria-container2">
            <span class="criteria-text01">Physical standards</span>
            <div class="criteria-container3">
              <span class="criteria-text02">Age limit 16-19 Years</span>
              <span class="criteria-text03">
                Min Qualification - Inter MPC- 70%
              </span>
              <span class="criteria-text04">Height - 157cm</span>
              <span class="criteria-text05">Chest Expansion - 5cm</span>
            </div>
          </div>
          <div class="criteria-container4">
            <span class="criteria-text06">Medical  standards</span>
            <div class="criteria-container5">
              <span class="criteria-text07">Without glasses 6/6 - 6/9</span>
              <span class="criteria-text08">With glasses 6/6 - 6/6</span>
              <span class="criteria-text09">Color Vision - CP - II</span>
            </div>
          </div>
          <div class="criteria-container6">
            <button class="criteria-button button">Apply now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
