<div>
  <link href="./hero.css" rel="stylesheet" />
  <div class="hero-hero">
    <div class="hero-h-t-e-x-t">
      <h1>
        <span>Learn digital skills &amp; </span>
        <span>boost your career</span>
      </h1>
      <div class="hero-container">
        <a href="contact-us1.html" class="hero-navlink button">
          <span>Apply Now</span>
        </a>
        <button class="hero-button button">
          <span>
            <span>Learn More</span>
            <br />
          </span>
        </button>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/header.svg"
      loading="lazy"
      class="hero-image"
    />
  </div>
</div>
