<div>
  <link href="./recognized-by.css" rel="stylesheet" />
  <div class="recognized-by-recognized-by">
    <h1 class="recognized-by-text"><span>Recognized By</span></h1>
    <div class="recognized-by-container">
      <img
        alt="image"
        src="public/playground_assets/asset%2015121.svg"
        class="recognized-by-image"
      />
      <img
        alt="image"
        src="public/playground_assets/asset%2016121.svg"
        class="recognized-by-image1"
      />
      <img
        alt="image"
        src="public/playground_assets/asset%201812-1500w.png"
        class="recognized-by-image2"
      />
      <img
        alt="image"
        src="public/playground_assets/asset%201712-1500w.png"
        class="recognized-by-image3"
      />
    </div>
  </div>
</div>
